---

import {profileConfig} from "../config";

---

<div class="card-base max-w-[var(--page-width)] min-h-[4.5rem] rounded-b-none mx-auto flex items-center px-6">
    <div class="transition text-50 text-sm">
        🦩 {profileConfig.name} | \x62\x66\x66\x73\x70\x63\x4a\x72\x67\x58\x61\x6e\x78\x62
        <br>
    </div>
</div>
